@media only screen and (min-width : 1224px) {
    /* Styles */
    .navbar__links{
        position: unset;
        width: 50%;
        background-color: #fff;
        height: auto;
        display: flex;
        flex-direction: unset;
        justify-content: space-between;
        align-items: center;
        transform: translateX(0%);
    }
    .hamburger{
        display: none;
    }

    /* HEADER */
    .header{
        height: calc(100vh - 100px);
    }
    .header .container{
        display: flex;
        flex-direction: unset;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .header__text{
        width: 50%;
    }

    .header__img{
        width: 40%;
        height: 100%;
        align-self:auto;
        background-image: url(../imgs/burger1.jpg);
    }
}